<template>
    <article class="media">
        <figure class="media-left">
            <router-link
                v-if="comment.author.avatar"
                class="image is-48x48 is-square"
                :to="{ name: 'user-page', params: { id: comment.author.id } }"
            >
                <img class="is-rounded fit" :src="comment.author.avatar">
            </router-link>

            <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                <DefaultAvatar class="image is-48x48" :user="comment.author" />
            </router-link>
        </figure>
        <div class="media-content">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>
                            <strong> {{ comment.author.firstName }} {{ comment.author.lastName }} </strong>
                            <br>
                            {{ comment.body }}
                            <br>
                            <b-tooltip label="Like" animated>
                                <a class="level-item" @click="onLikeOrDislikeComment">
                                    <span
                                        class="icon is-medium has-text-info"
                                        :class="{
                                            'has-text-danger': commentIsLikedByUser(comment.id, user.id),
                                        }"
                                    >
                                        <span>
                                            <font-awesome-icon icon="heart" />
                                        </span>
                                        {{ comment.likesCount }}
                                    </span></a>
                            </b-tooltip>
                            <small class="has-text-grey">
                                {{ comment.created | createdDate }}
                            </small>
                        </p>
                    </div>
                </div>
                <div class="column" v-if="comment.imageUrl">
                    <figure class="image is-3by1 comment-image">
                        <img :src="comment.imageUrl" alt="Comment image">
                    </figure>
                </div>
                <div v-if="isCommentOwner(comment.id, user.id)" class="column is-narrow is-12-mobile">
                    <div class="buttons">
                        <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                        <b-button type="is-danger" @click="onDeleteComment">Delete</b-button>
                    </div>
                </div>
            </div>

            <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
                <EditCommentForm :comment="comment" />
            </b-modal>
        </div>
    </article>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import EditCommentForm from './EditCommentForm.vue';
import showStatusToast from '../../mixin/showStatusToast';

export default {
    name: 'Comment',

    mixins: [showStatusToast],

    components: {
        DefaultAvatar,
        EditCommentForm,
    },

    props: {
        comment: {
            type: Object,
            required: true,
        },
        user: {
            type: Object,
            required: true,
        },
    },

    data: () => ({
        isEditCommentModalActive: false,
    }),

    computed: {
        ...mapGetters('comment', ['isCommentOwner', 'commentIsLikedByUser']),
    },

    methods: {
        ...mapActions('comment', ['deleteComment', 'likeOrDislikeComment']),

        onEditComment() {
            this.isEditCommentModalActive = true;
        },

        onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);

                        this.showSuccessMessage('Comment deleted!');

                        this.$router.push({ name: 'tweet-page', params: { id: this.comment.tweetId } }).catch(() => {});
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                },
            });
        },

        async onLikeOrDislikeComment() {
            await this.likeOrDislikeComment({
                id: this.comment.id,
                userId: this.user.id
            });
        },
    },
};
</script>

<style lang="scss" scoped>
nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}
</style>
